* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
}

/* Header */
.header {
  padding: 15px 5px;
}

.container-inner {
  max-width: 930px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.phone-number ul li {
  list-style-type: none;
  color: #b71810;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

/* Banner */
.banner {
  padding: 80px 0 90px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
}

.banner .banner-content {
  padding: 0 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-heading {
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 66px;
  font-weight: 300;
  margin-bottom: 40px;
}

.banner-text {
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 60px;
}

span {
  text-transform: uppercase;
}

.procent-banner {
  color: #252525;
  font-size: 60px;
}

.btn-banner {
  color: #b71810;
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 16px 40px;
}

.btn-banner:hover {
  background: #f2f2f2;
  color: #aa140f;
}

/* Advantages */
.advantages {
  padding: 80px 0 50px;
}

.advantages-heading {
  text-align: center;
  margin-bottom: 105px;
}

.advantages-heading h2 {
  color: #1c6786;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 45px;
}

.advantages-heading p {
  color: #000000;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  box-sizing: border-box;
  width: 340px;
}

.icon {
  text-align: center;
  margin: 0 auto 35px;
}

.advantages-item h3 {
  color: #1c6786;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.advantages-item p {
  color: #000000;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
}

.siting {
  padding-top: 30px;
}

.present {
  padding: 90px 0 0;
  display: flex;
  margin: auto;
}

.present-img {
  width: 157px;
  height: 157px;
  border-radius: 100px;
  background-color: #c0362f;
  background-image: url(../img/present-img.png);
  background-repeat: no-repeat;
  background-position: center;
}

.present-text {
  margin: auto;
  padding-left: 35px;
}

.present-text h3 {
  color: #000000;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.present-text p {
  color: #1c6786;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-top: 20px;
}

/* Price */
.price {
  background-color: #f5f5f5;
  padding: 60px 0 50px;
}

.price-heading {
  text-align: center;
  margin-bottom: 60px;
}

.price-heading h2 {
  opacity: 0.87;
  color: #000000;
  font-family: Roboto, Arial, 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}

.row-price {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.pricing-table {
  width: 302px;
  height: 485px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 4px;
}

.plan-name {
  width: 302px;
  height: 183px;
  background-color: #b71810;
  opacity: 0.87;
  border-radius: 4px 4px 0 0;
}

.plan-name h4 {
  color: #ffffff;
  font-family: 'Roboto Condensed', Arial, 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.plan-name p {
  color: #ffffff;
  font-family: 'Roboto Condensed', Arial, 'Times New Roman', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: auto;
  padding: 0 20px;
}

.plan-sales h5 {
  opacity: 0.87;
  color: #b71810;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-top: 25px;
}

.plan-price {
  display: flex;
  justify-content: space-between;
  padding: 35px 20px 0;
}

.price-first p {
  opacity: 0.54;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.span-price1 {
  opacity: 0.5;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: line-through;
}

.span-price2 {
  opacity: 0.87;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
}

.plan-present {
  margin: 35px 0 0;
  text-align: center;
}

.plan-present p {
  opacity: 0.8;
  color: #c52126;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.plan-btn {
  text-align: center;
  margin: 25px 0 10px;
}

.plan-btn a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto Condensed', Arial, 'Times New Roman', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  background-color: #b71810;
  opacity: 0.87;
  padding: 18px 83px;
}

.plan-btn a:hover {
  opacity: 1;
}

.btn-price {
  text-align: center;
}

.btn-price a {
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #868382;
  opacity: 0.4;
  text-decoration: none;
  padding: 15px 50px;
}

.btn-price a:hover {
  opacity: 1;
}

/* Contact */
.contact {
  padding: 80px 0 70px;
  background-image: url(../img/phone-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-office {
  text-align: center;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
}

.footer {
  padding: 45px 10px 60px;
}

.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-company {
  margin: auto 25px 0;
}

.name-company p {
  opacity: 0.38;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.footer-link {
  margin: auto 0;
}

.footer-link a {
  text-decoration: none;
  opacity: 0.87;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-right: 80px;
}

/* Adaptive version */
@media screen and (max-width: 1024px) {
  .banner .banner-content {
    padding: 0 25px;
  }
  .banner-heading {
    font-size: 56px;
  }
  .banner-text {
    font-size: 24px;
  }
  .procent-banner {
    font-size: 30px;
  }
  .btn-banner {
    font-size: 20px;
  }
  .advantages-heading h2 {
    font-size: 26px;
  }
  .advantages-heading p {
    font-size: 20px;
  }
  .advantages-item {
    padding: 0 20px;
  }
  .icon img {
    width: 100px;
  }
  .advantages-item h3 {
    font-size: 20px;
  }
  .advantages-item p {
    font-size: 16px;
  }
  .present {
    padding: 90px 10px 0;
  }
  .present-img {
    width: 117px;
    height: 117px;
  }
  .present-text h3 {
    font-size: 24px;
  }
  .present-text p {
    font-size: 20px;
  }
  .price-heading h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 960px) {
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 15px;
  }
  .banner-heading {
    font-size: 46px;
  }
  .banner-text {
    font-size: 22px;
  }
  .advantages-heading h2 {
    font-size: 24px;
  }
  .advantages-heading p {
    font-size: 18px;
    padding: 0 15px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .advantages-item {
    width: 500px;
    margin: 0 auto 40px;
  }
  .icon img {
    width: 120px;
  }
  .advantages-item h3 {
    font-size: 24px;
    text-align: center;
  }
  .advantages-item p {
    font-size: 18px;
  }
  .present-text h3 {
    font-size: 22px;
  }
  .present-text p {
    font-size: 18px;
  }
  .price-heading h2 {
    font-size: 24px;
  }
  .pricing-table {
    margin-top: 20px;
  }
  .contact-office {
    font-size: 22px;
  }
  .footer-link a {
    padding-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .present {
    display: flex;
    align-items: center;
  }
  .present-img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 568px) {
  .present {
    display: flex;
    align-items: center;
  }
}

.present-img {
  margin-bottom: 30px;
}

@media screen and (max-width: 414px) {
  .banner-heading {
    font-size: 40px;
  }
  .banner-text {
    font-size: 20px;
    line-height: 30px;
  }
  .btn-banner {
    font-size: 18px;
  }
  .advantages-heading {
    text-align: center;
    margin-bottom: 100px;
    padding: 0 10px;
  }
  .advantages-heading h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .advantages-heading p {
    font-size: 16px;
    padding: 0 15px;
    line-height: 26px;
  }
  .advantages-item {
    width: 410px;
    margin: 0 auto 40px;
  }
  .icon img {
    width: 105px;
  }
  .advantages-item h3 {
    font-size: 20px;
    text-align: center;
  }
  .advantages-item p {
    font-size: 16px;
  }
  .siting {
    padding-top: 10px;
  }
  .present {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .present-img {
    width: 107px;
    height: 107px;
    margin-bottom: 35px;
  }
  .present-text {
    margin: auto;
    padding-left: 5px;
  }
  .present-text h3 {
    font-size: 20px;
  }
  .present-text p {
    font-size: 16px;
  }
  .price-heading {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 5px;
  }
  .price-heading h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .contact-office {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .advantages-heading h2 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 26px;
  }
}

.advantages-item {
  width: 360px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 320px) {
  .phone-number ul {
    padding-left: 0;
  }
  .phone-number ul li {
    font-size: 16px;
  }
  .banner-heading {
    font-size: 36px;
  }
}

.advantages-item {
  width: 315px;
  margin: 0 auto 40px;
}

.up-button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #d8d8d8;
  color: #fff;
  cursor: pointer;
  padding: 16px 8px;
  z-index: 99;
  border-radius: 10px;
  border: none;
  outline: none;
}

.up-button:hover {
  background-color: #b71810;
}

.fa-arrow-up {
  font-size: 35px;
}

@media screen and (max-width: 500px) {
  .up-button {
    padding: 24px 12px;
    opacity: 0.6;
  }
}
